* {
	transition: .3s;
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: #333;
		color: #eee;
	}
	img {
		opacity: 0.9;
	}
	.nav_menu_li {
		color: #f8fbfd;
	}
	.page_title:before {
		background: #eee;
	}
	.page_title.qua:before {
		background: #eee;
	}
	.container section {
		background-color: #666;
	}
	.container section.ach {
		background-color: #333;
	}
	.type {
		color: #fafafa;
	}
	.comment {
		color: #fe5f55;
	}
	.gitHubLink {
		color: #79bedb;
	}
	.evalAgerage p {
		color: #fafafa;
	}
	
	@media screen and (min-width: 481px) {
		.nav_menu_li {
			color: #333;
		}
	}
}
